# backend
backend/.env
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/uvicorn.log

# frontend
frontend/node_modules/
frontend/dist/
frontend/vite.log
frontend/.env

# misc
.vercel
